.defaultLight{
    border-radius: 50%;
    width: 92px;
    height: 92px;
    color: ghostwhite;
    margin: 16px;
}
.redlight{
    border-radius: 50%;
    width: 92px;
    height: 92px;
    color: red;
}

.greenlight{
    border-radius: 50%;
    width: 92px;
    height: 92px;
    color: green;
}

.yellowLight{
    border-radius: 50%;
    width: 92px;
    height: 92px;
    color: yellow;
}