.listbody{
    display: flex;
}

.listA{
    height: 372px;
    width: 512px;
    background-color: aliceblue;
    margin-top: 64px;
    padding-top: 64px;
    margin-right: 16px;
}

.listB{
    height: 372px;
    width: 512px;
    background-color: beige;
    margin-top: 64px;
    padding-top: 64px;
}

.bottomBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}